<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/room.css">
    <title>Rocket.q | Sala de perguntas e respostas</title>
<body>
    <div id="room" class="content">
        <header>
            <a href="/">
                <img src="/assets/logo.svg" alt="Lupa ilustrativa com cor branca e fundo azul. Logo da Rocket.q.">
            </a>

            <div class="buttons">
                <div class="button outlined" id="room-id" data-id="<%= roomId %>">
                    #<%= roomId %>
                    <img src="/assets/copy.svg" alt="Desenho de duas folhas de papel semi-aninhadas, representando o ato de copiar.">
                </div>

                <a href="#" class="button">
                    <img src="/assets/users-white.svg" alt="Desenho de duas pessoas com contorno branco, representando o ato de criar uma sala com mais pessoas."> Criar Sala
                </a>
            </div>
        </header>

        <main>
            <section id="question-form">
                <h2>Faça sua pergunta</h2>

                <form action="/question/create/<%= roomId %>" method="POST">
                    <label for="question" class="sr-only">O que você quer perguntar?</label>
                    <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>

                    <footer>
                        <div class="">
                            <img src="/assets/lock.svg" alt=""> Esta pergunta é anônima
                        </div>

                        <button>Enviar pergunta</button>
                    </footer>
                </form>
            </section>

            <section id="questions">
                <h2 class="sr-only">Pergutas da comunidade</h2>

                <div class="questions">

                    <% questions.forEach(question => { %>
                        <div class="question-wrapper">
                            <div class="question-content">
                                <div class="user">
                                    <img src="/assets/avatar.svg" alt="">
                                </div>
    
                                <div class="question">
                                    <p><%= question.title %></p>
                                </div>
                            </div>
    
                            <div class="actions">
                                <a href="#" class="check" data-id="<%= question.id %>">
                                    <img src="/assets/check.svg" alt=""> Marcar como lida
                                </a>
                                <a href="#" class="delete" data-id="<%= question.id %>">
                                    <img src="/assets/trash.svg" alt=""> Excluir pergunta
                                </a>
                            </div>
                        </div>
                    <% }); %> 

                    <% questionsRead.forEach(questionRead => { %>
                        <div class="question-wrapper read">
                            <div class="question-content">
                                <div class="user">
                                    <img src="/assets/avatar.svg" alt="">
                                </div>
    
                                <div class="question">
                                    <p><%= questionRead.title %></p>
                                </div>
                            </div>
    
                            <div class="actions">
                                <a href="#" class="check" data-id="<%= questionRead.id %>"> 
                                    <img src="/assets/check.svg" alt=""> Pergunta lida
                                </a>
                            </div>
                        </div>
                    <% }); %> 
                </div>
            </section>
        </main>
    </div>

    <div class="modal-wrapper">
        <div class="modal">
            <h2>Excluir pergunta</h2>
            <p>Tem certeza que você deseja excluir essa pergunta?</p>

            <form action="" method="POST">
                <label for="password" class="sr-only">Digite sua senha de administrador</label>
                <input type="password" name="password" id="password" placeholder="Digite sua senha de administrador">

                <div class="buttons">
                    <div class="button back">
                        Cancelar
                    </div>

                    <button class="danger">Sim, excluir</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/main.js" type="module"></script>
</body>
</html>